{% extends 'base.html.twig' %}


{% block head %}
<title>{% block title %}Le Blog des Voisins{% endblock %}</title>

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="{{ path('dashboard') }}">Tableau de bord<span class="sr-only">(current)</span></a>
      </li>
      

    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>


  
  <div class="row">
    <div class="col-sm-2 bg-light mx-3">

      <ul class="list-unstyled">
        <li class="my-2">
          <a class="text-dark font-weight-bold" href="{{ path('post.create') }}">Nouvel Article</a>
        </li>
         
        <li class="my-2">
          <a class="text-dark font-weight-bold" href="{{ path('home') }}">Nouvelles images</a>
        </li>
      </ul>

      <br>

      <ul class="list-unstyled">
        <li class="my-2">
          <a class="text-dark font-weight-bold" href="{{ path('post.create') }}">Gérer mes Articles</a>
        </li>
         
        <li >
          <a class="text-dark font-weight-bold" href="{{ path('home') }}">Gérer mes commentaires</a>
        </li>

        <li class="my-2">
          <a class="text-dark font-weight-bold" href="{{ path('home') }}">Gérer mes images</a>
        </li>
      </ul>
    
      <br>
      
      <ul class="list-unstyled">
        <li class="my-2">
          <a class="text-dark font-weight-bold" href="{{ path('post.create') }}">Gérer mon profil</a>
        </li>
      </ul>

    </div>

  	<div class="col-lg-9">col-sm-10</div>
    </div>

  </div>

{% endblock %}