{% extends 'base.html.twig' %}


{% block head %}
<title>{% block title %}Le Blog des Voisins{% endblock %}</title>

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('dashboard') }}">Tableau de bord<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active my-2 my-lg-0">
        <a class="nav-link font-weight-bold text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>


<div class="container">
	<div class="row">
		<div class="col-lg-10">
        
        <h1>Rédiger un article</h1>

				<table class="table table-stripped">
				<tbody>

				{% for post in posts %}

				<tr>
						<td>{{ post.titre }}</td>
						<td>
							<a href="{{ path('admin.post.edit', {id: post.id}) }}" class="btn btn-secondary">Editer</a>
						</td>
					</tr>

				{% endfor %}

				</tbody>

				</table>
		</div>
	<div class="col-sm-2">col-sm-2</div>
	</div>
</div>

{% endblock %}
